body {
    font-family: HelveticaNowText, Tiro Gurmukhi, Cambay, sans-serif;
    margin: 40px;
}

.message {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 30px;
    position: relative;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}